.header {
  @include flexbox(column, center, center, 2rem);
  margin-bottom: 2rem;
  .header-logo {
    max-width: 7rem;
    img {
      width: 100%;
      height: auto;
    }
  }
  .header-title {
    font-size: 2.5em;
    line-height: 1;
    #word {
      font-family: $cursive-font;
    }
  }
}
