@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import "./variables.scss";
@import "./reset.scss";
@import "./mixins.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./modal.scss";

#root {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    @include flexbox(column, space-between, center, 2rem);
    form {
        padding: 2rem;
        background-color: #0005;
        max-width: 25rem;
        margin: auto;
        border-radius: 2rem;
    }

    .input-item {
        @include flexbox(column, center, center, 0.2rem);
        position: relative;
        margin-bottom: 1.5rem;
        font-size: 1.25rem;
        .input-box {
            font-size: 1.25rem;
            width: 100%;
            padding: 1rem;
            border-radius: 0.75rem;
            box-shadow: none;
            outline: none;
            background-color: #0005;
            border: 2px solid $font-color-darker;
            border: none;
            &:focus {
                outline: 2px solid $accent-color-lighter;
            }
            &:disabled {
                background: darken($surface-1, 5);
            }
        }
        .input-error {
            outline: 2px solid $error-color;
        }
        label {
            font-weight: 500;
        }
        .input-error-msg {
            position: absolute;
            font-size: 1rem;
            top: 100%;
            color: $error-color;
            font-weight: 600;
        }
    }
    .submit-button {
        margin-top: 1rem;
        width: 100%;
        font-size: 1.25rem;
        padding: 1rem;
        border: none;
        border-radius: 0.75rem;
        background: $accent-color;
        color: $font-color-darker;
        outline: none;
        font-weight: bold;
        box-shadow: 0 5px 5px -6px black;
        cursor: pointer;
        &:focus {
            outline: 2px solid $accent-color-lighter;
        }
    }

    .help {
        margin-top: 2rem;
        margin-bottom: 1rem;
        @include flexbox(row, center, center, 1rem);
        .help-button,
        .logout-button {
            padding: 0.75rem 1rem;
            background-color: $accent-color;
            border: none;
            font-size: 1.2rem;
            border-radius: 1rem;
            cursor: pointer;
            width: 100%;
        }
    }

    .electives-container {
        h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        h4 {
            font-size: 1.5rem;
        }
        .electives {
            @include flexbox(column, center, center, 1rem);
        }
        .elective-item {
            padding: 1rem;
            background-color: #0005;
            border-radius: 1rem;
            max-width: 20rem;
            @include flexbox(column, center, center, 0);
        }
        .download-button {
            padding: 0.75rem 1rem;
            background-color: $accent-color;
            border: none;
            font-size: 1.2rem;
            border-radius: 1rem;
            cursor: pointer;
            width: 100%;
            margin-top: 2rem;
        }
    }
}
