$metakgp-black: #242424;
$font-color: #fefefe;
$font-color-darker: #d3d1d1;
$metakgp-font: "Titillium Web", sans-serif;
$cursive-font: "Kalam", sans-serif;
$accent-color: #1453b8;
$accent-color-lighter: #4786eb;
$accent-color-dark: #154da8;
$accent-color-darker: #0f3e8a;
$accent-color-disabled: #3d5c8f;
$surface-1: #323035;
$surface-2: #3a3a5a;
$error-color: #E65F3F;
$gradient: linear-gradient(0deg, #191930,#29293b);
$green-gradient: linear-gradient(90deg, #0D6E6E,#4a9d9c);
$link: rgb(161, 131, 216);
$link-hover: rgb(135, 102, 196);
$green: #0D6E6E;
$green-hover: #0c6464;
