$metakgp-black: #242424;
$font-color: #fefefe;
$font-color-darker: #d3d1d1;
$metakgp-font: "Titillium Web", sans-serif;
$cursive-font: "Kalam", sans-serif;
$accent-color: #1453b8;
$accent-color-lighter: #4786eb;
$accent-color-darker: #0f3e8a;
$accent-color-disabled: #3d5c8f;
$surface-1: #413e3f;
$surface-2: #4b4b4b;
$error-color: crimson;
